<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id='app'>
        <img v-bind:src="img" v-bind:alt="name">
        <h1>{{name}}
            <span v-if="duckAge >= 10">💀💀</span>
            <span v-else>🦆🦆</span>
        </h1>

        <ul>
            <li v-for="(duck, index) in ducksNames" v-bind:key>
                {{ index }} - {{ duck }}
            </li>
        </ul>

        <ul>
            <li v-for="(duck, index) in ducksDetail" v-bind:key>
                {{ index }} - {{ duck.name }} - {{ duck.age }}
            </li>
        </ul>
    </div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="index.js"></script>